<template>
    <div>
        <ComponentAll />
        <div class="content-body">
                <div class="container-fluid">
                  <!-- row -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Thêm sản phẩm</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <Form @submit="onSubmit">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Tên</label>
                                                        <Field type="text" class="form-control" :rules="validateName" name="name" placeholder="Nhập tên"/>
                                                        <ErrorMessage class="text-danger" style="font-size : 12px" name="name" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Loại hàng</label>
                                                        <select class="form-control wide mb-3" tabindex="null" v-model="category_id">
                                                            <option v-for="item in categories" :key="item.id" :value="item.id" :label="item.name"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Mã sản phẩm</label>
                                                        <Field type="text" class="form-control" name="code_producer" placeholder="Nhập Mã sản phẩm"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Mã TFO</label>
                                                        <Field type="text" class="form-control" :rules="validateCodeTfo" name="code_tfo" placeholder="Nhập Mã TFO"/>
                                                        <ErrorMessage class="text-danger" style="font-size : 12px" name="code_tfo" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="">Chi tiết</label>
                                                        <textarea class="form-control" :rules="validateDescription" v-model="description" rows="6"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Loại</label>
                                                        <select class="form-control wide mb-3" tabindex="null" v-model="type">
                                                            <option value="1">Bắt buộc trả</option>
                                                            <option value="2">Không cần trả</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Ngày hết hạn</label>
                                                        <Field type="date" class="form-control" name="guarantee_date" placeholder="Nhập Mã TFO"/>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 mb-3">
                                                    <input type="file" class="form-file-input" multiple="multiple" accept="image/jpeg" @change=uploadImage>
                                                </div>

                                                <div class="col-12" v-if="image_path.length > 0">
                                                    <img v-for="(image, key) in image_path" :key="key" :src="domain+image" class="rounded me-3 mb-3" style="width : 180px; height : 113px; object-fit: cover;"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <button type="submit" 
                                                        class="btn btn-primary btn-block" 
                                                        :disabled="btnLoading"
                                                    >
                                                        <span v-if="btnLoading"><i class="fas fa-spinner fa-spin"></i></span>
                                                        <span v-else>Tạo mới</span>
                                                    </button>
                                                </div>
                                            </div>
                                            
                                        </Form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>
<script>
import { categories } from "../../apis/data_information"
import ComponentAll from './../../components/theme/component_all.vue';
import { productCreate } from "../../apis/product"
import { products } from "../../apis/uploadfile"
import { ElNotification } from 'element-plus'
import { Form, Field, ErrorMessage } from 'vee-validate'

export default {
    name: "App",
    components : {
        ComponentAll, Form, Field, ErrorMessage
    },
    data(){
        return {
            name : '',
            btnLoading : false,
            category_id : 1,
            code_producer : '',
            code_tfo : '',
            description : '',
            type : '',
            guarantee_date : '',
            image_id: [],
            image_path: [],
            categories : [],
            domain : ''
        }
    },
    created(){
        this.fetchDataCategories()
    },
    methods: {
        fetchDataCategories(){
            categories().then(res => {
                this.categories = res.data
            })
        },

        validateName(value) {
            if (!value) {
                return 'Không bỏ trống!';
            }
            return true;
        },
        validateCodeTfo(value){
            if (!value) {
                return 'Không bỏ trống!';
            }
            return true;
        },
        uploadImage(e){
            const image = e.target.files[0];
            let formData = new FormData();
            for( var i = 0; i < e.target.files.length; i++ ){
                let file = e.target.files[i];
                formData.append('image', file);
                products(formData).then(res => {
                    this.image_id.push(res.data.id_image)
                    this.image_path.push(res.data.link_image)
                    this.domain = res.data.domain
                })
            }
            
            this.url = URL.createObjectURL(image);
        },

        onSubmit(value){
            this.btnLoading = false
            let data = {
                name : value.name,
                category_id : this.category_id,
                code_producer : value.code_producer,
                code_tfo : value.code_tfo,
                description : this.description,
                type : this.type,
                guarantee_date : value.guarantee_date,
                images : this.image_id
            }
            productCreate(data).then(res => {
                this.btnLoading = false
                if (res.data.status) {
                    window.location.href = '/products'
                }
            })
        },
    },
}
</script>
