<template>
    <div>
        <ComponentAll />
        <div class="content-body">
                <div class="container-fluid">
                    <!-- Add Project -->
                    <div class="modal fade" id="addProjectSidebar">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Create Project</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label class="text-black font-w500">Project Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                                    <label class="text-black font-w500">Dadeline</label>
                                                    <div class="cal-icon"><input type="date" class="form-control"><i class="far fa-calendar-alt"></i></div>
                                                </div>
                                        <div class="form-group">
                                            <label class="text-black font-w500">Client Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary">CREATE</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h4>Hi, welcome back!</h4>
                                <span>Element</span>
                            </div>
                        </div>
                    </div>                <!-- row -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Input Style</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Tên sản phẩm</label>
                                                        <input type="text" class="form-control input-default" v-model="name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Loại hàng</label>
                                                        <select class="form-control wide mb-3" tabindex="null" v-model="category_id">
                                                            <option v-for="item in categories" :key="item.id" :value="item.id" :label="item.name"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Mã sản phẩm</label>
                                                        <input type="text" class="form-control input-default" v-model="code_producer">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Mã TFO</label>
                                                        <input type="text" class="form-control input-default" v-model="code_tfo">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="">Chi tiết</label>
                                                        <textarea v-model="description" class="form-control" rows="6"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Loại</label>
                                                        <select class="form-control wide mb-3" tabindex="null" v-model="type">
                                                            <option value="1">Loai 1</option>
                                                            <option value="2">Loai 2</option>
                                                            <option value="3">Loai 3</option>
                                                            <option value="4">Loai 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Ngày hết hạn</label>
                                                        <input type="date" class="form-control input-default" v-model="guarantee_date">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 mb-3">
                                                    <input type="file" class="form-file-input" multiple="multiple" accept="image/jpeg" @change=uploadImage>
                                                </div>
                                                <div class="col-12" v-if="image_show.length > 0">
                                                    <img v-for="(image, key) in image_show" :key="key" :src="domain+image" class="rounded me-3 mb-3" style="width : 180px; height : 60px; object-fit: cover;"/>
                                                </div>
                                                <div class="col-12" v-if="image_path.length > 0">
                                                    <div class="row">
                                                        <div class="col-2 me-3 mb-3" v-for="(image, key) in image_path" :key="key">
                                                            <img :src="image.domain+image.image" class="rounded me-3 mb-3" style="width : 180px; height : 60px; object-fit: cover;"/>
                                                            <span class="btn btn-sm btn-danger" type="button" @click="removeImageUpdate(image.id)">Xoá</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <button type="button" 
                                                        class="btn btn-primary btn-block" 
                                                        @click="updateData"
                                                        :disabled="btnLoading"
                                                    >
                                                        <span v-if="btnLoading"><i class="fas fa-spinner fa-spin"></i></span>
                                                        <span v-else>Chỉnh sửa</span>
                                                    </button>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>
<script>
import { categories } from "../../apis/data_information"
import ComponentAll from './../../components/theme/component_all.vue';
import { productEdit, productFind } from "../../apis/product"
import { products, productsDeleteImageEdit } from "../../apis/uploadfile"
import { ElNotification, ElMessage } from 'element-plus'

export default {
    name: "App",
    components : {
        ComponentAll
    },
    data(){
        return {
            domain : '',
            name : '',
            category_id : '',
            code_producer : '',
            code_tfo : '',
            description : '',
            type : '',
            guarantee_date : '',
            btnLoading : false,
            image_id: [],
            image_path: [],
            image_show: [],
            categories : []
        }
    },
    created(){
        this.getEditData()
        this.fetchDataCategories()
    },
    methods: {
        fetchDataCategories(){
            categories().then(res => {
                this.categories = res.data
            })
        },
        uploadImage(e){
            const image = e.target.files[0];
            let formData = new FormData();
            for( var i = 0; i < e.target.files.length; i++ ){
                let file = e.target.files[i];
                formData.append('image', file);
                products(formData).then(res => {
                    this.domain = res.data.domain
                    this.image_id.push(res.data.id_image)
                    this.image_show.push(res.data.link_image)
                })
            }
            
            this.url = URL.createObjectURL(image);
        },
        removeImageUpdate(id){
            let data = {
                id : id
            }
            productsDeleteImageEdit(data).then(res => {
                ElMessage({
                    message: 'Xoá ảnh thành công!',
                    type: 'success',
                })
                this.getEditData()
            })
        },
        getEditData(){
            productFind(this.$route.params.id).then(res => {
                this.name = res.data.name
                this.category_id = res.data.category_id
                this.code_producer = res.data.code_producer
                this.code_tfo = res.data.code_tfo
                this.description = res.data.description
                this.type = res.data.type
                this.guarantee_date = res.data.guarantee_date
                this.image_path = res.data.productImages

            })
        },
        updateData(){
            this.btnLoading = true
            let data = {
                id : this.$route.params.id,
                name : this.name,
                category_id : this.category_id,
                code_producer : this.code_producer,
                code_tfo : this.code_tfo,
                description : this.description,
                type : this.type,
                guarantee_date : this.guarantee_date,
                images : this.image_id
            }
            productEdit(this.$route.params.id, data).then(res => {
                this.btnLoading = false,
                ElNotification({
                    title: 'Thành công',
                    message: res.data.message,
                    type: 'success',
                })
                window.location.href = "/products"
            }).catch(e => {
                this.btnLoading = false,
                ElMessage({
                    type: 'error',
                    message: e.response.data.message,
                })
            })
        },
    },
}
</script>
