<template>
    <div>
        <ComponentAll />
        <div class="content-body">
                <div class="container-fluid">
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                            </div>
                        </div>
                        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                            <a href="/products/create" class="btn btn-sm btn-primary me-3"> <i class="fa fa-plus"></i> Thêm sản phẩm</a>
                            <button class="btn btn-sm btn-primary"  data-bs-toggle="modal" data-bs-target="#basicModal"> <i class="fa fa-plus"></i> Import Excel</button>
                            <div class="modal fade" id="basicModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Import excel</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <a href="http://127.0.0.1:8000/template/template-upload-excel-product.xlsx" download class="btn btn-xs btn-success">
                                                    <span class="me-2"><i class="fas fa-file-download"></i></span>
                                                    Dowload template excel
                                                </a>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="form-file">
                                                    <input type="file" class="form-file-input form-control" @change="onFileChange">
                                                </div>
                                                <span class="input-group-text">Upload file excel</span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Đóng</button>
                                            <button type="button" class="btn btn-success light" @click="uploadFile()">Upload file</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-1">
                                                <label for="">Tìm kiếm</label>
                                                <input type="text" class="form-control input-default w-100" placeholder="Nhập từ khoá" v-model="query.keyword" @keyup="searchQuerry($event)">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-1">
                                                <label for="">Loại hàng</label>
                                                <select class="default-select form-control wide mb-3 w-100" v-model="query.category" @change="selectCategory()">
                                                    <option value="">Tất cả</option>
                                                    <option v-for="item in categories" :key="item.id" :value="item.id" :label="item.name"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-responsive-md ck-table">
                                            <thead>
                                                <tr>
                                                    <th><strong>Sản phẩm</strong></th>
                                                    <th><strong>Loại hàng</strong></th>
                                                    <th><strong>Mã sản phẩm</strong></th>
                                                    <th><strong>Mã TFO</strong></th>
                                                    <th><strong>Mô tả</strong></th>
                                                    <th><strong>Loại</strong></th>
                                                    <th><strong>Ngày hết hạn</strong></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in datas" :key="item.id">
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <img v-if="item.productImages.length > 0" :src="item.productImages[0].domain+item.productImages[0].image" class="rounded me-3" style="width : 60px; height : 50px; object-fit: cover;"/>
                                                            <span class="w-space-no">{{item.name}}</span>
                                                        </div>
                                                    </td>
                                                    <td>{{item.category.name}}</td>
                                                    <td>{{item.code_producer}}</td>
                                                    <td>{{item.code_tfo}}</td>
                                                    <td>{{item.description}}</td>
                                                    <td>{{item.type}}</td>
                                                    <td>{{item.guarantee_date}}</td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a :href="'products/' + item.id + '/edit'" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                            <a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp" @click="dataDelete(item.id)"><i class="fa fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-between">
                                            <div style="position: relative;top: 10px;">Hiển thị {{formRecord}} - {{toRecord}} của {{dataCount}} bản ghi</div>
                                            <div>
                                                <paginationVue :pagination="pagination" :offset="5" @paginate="fetchData()"/>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>
<script>
import { categories } from "../../apis/data_information"
import { products, productDelete } from "../../apis/product"
import { productExcel } from "@/apis/uploadfile"
import paginationVue from "../pagination.vue"
import ComponentAll from './../../components/theme/component_all.vue'
import { ElMessage, ElMessageBox } from 'element-plus'

export default {
    name: "App",
    components : {
        paginationVue, ComponentAll
    },
    data(){
        return {
            query : {
                keyword : '',
                category : '',
            },
            categories : [],
            datas : [],
            dataCount : '',
            formRecord : '',
            toRecord : '',
            file_upload : {},
            pagination: {
                'current_page': 1
            },
            pagination_payout: {
                'current_page': 1
            },
        }
    },
    created(){
        this.fetchData()
        this.fetchDataCategories()
    },
    methods: {
        fetchDataCategories(){
            categories().then(res => {
                this.categories = res.data
            })
        },

        onFileChange(event){
            this.file_upload = event.target.files[0];
        },
        uploadFile(){
            let formData = new FormData();
            formData.append('file', this.file_upload);
            productExcel(formData).then(res => {
                ElMessage({
                    type: 'success',
                    message: res.data.message,
                })
                this.fetchData()
            }).catch(e => {
                ElMessage({
                    type: 'error',
                    message: e.response.data.message,
                })
            })
        },
        searchQuerry(e){
            this.query.keyword = e.target.value
            this.fetchData()
        },
        selectCategory(){
            this.fetchData()
        },
        fetchData() {
            let query = this.query
            products(this.pagination.current_page, query).then(res => {
                this.datas = res.data.dataAll
                this.pagination = res.data.pagination
                this.dataCount = res.data.pagination.total
                this.formRecord = res.data.pagination.from
                this.toRecord = res.data.pagination.to
            })
        },
		dataDelete(id){
			ElMessageBox.confirm(
                'Xác nhận xoá bản ghi. Tiếp tục?',
                'Lưu ý!',
                {
                    confirmButtonText: 'Đồng ý',
                    cancelButtonText: 'Huỷ bỏ',
                    type: 'warning',
                    draggable: true,
                }
            )
			.then(() => {
				productDelete(id).then(res => {
					ElMessage({
                        type: 'success',
                        message: res.data.message,
                    })
                    this.fetchData()
				}).catch(function(){
                    ElMessage({
                        type: 'error',
                        message: 'Thất bại',
                    })
                })
			})
			.catch(() => {
				ElMessage({
					type: 'info',
					message: 'Huỷ bỏ xoá',
				})
			})
		}
    },
}
</script>
<style>
    .pagination {
        margin: 0 !important;
    }
</style>

