<template>
	<div>
		<ComponentAll />
		<div class="content-body">
			<div class="container-fluid">


				<div class="row">

					<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
						<div class="widget-stat card">
							<div class="card-body p-4">
								<div class="media ai-icon">
									<span class="me-3 bgl-primary text-primary">
										<i class="far fa-boxes"></i>
									</span>
									<div class="media-body">
										<p class="mb-1">Tổng sản phẩm trong kho</p>
										<h4 class="mb-0">{{pruduct_in_stock.length}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
						<div class="widget-stat card">
							<div class="card-body p-4">
								<div class="media ai-icon">
									<span class="me-3 bgl-primary text-primary">
										<i class="fas fa-box-check"></i>
									</span>
									<div class="media-body">
										<p class="mb-1">Sản phẩm đang cho mượn</p>
										<h4 class="mb-0">{{pruduct_not_in_stock.length}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
						<div class="widget-stat card">
							<div class="card-body  p-4">
								<div class="media ai-icon">
									<span class="me-3 bgl-warning text-warning">
										<i class="fad fa-box-full"></i>
									</span>
									<div class="media-body">
										<p class="mb-1">Số yêu cầu mượn đang chờ</p>
										<h4 class="mb-0">{{request_pending.length}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
						<div class="widget-stat card">
							<div class="card-body  p-4">
								<div class="media ai-icon">
									<span class="me-3 bgl-danger text-danger">
										<i class="fad fa-hand-holding-box"></i>
									</span>
									<div class="media-body">
										<p class="mb-1">Số yêu cầu trả hàng</p>
										<h4 class="mb-0">{{request_return_pending.length}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-xl-6 col-xxl-6 col-lg-6">
                        <div class="card border-0 pb-0">
                            <div class="card-header border-0 pb-0">
                                <h4 class="card-title">Yêu cầu mượn</h4>
                            </div>
                            <div class="card-body"> 
                                <div id="DZ_W_Todo2" class="widget-media dz-scroll height370 ps ps--active-y">
                                    <ul class="timeline">
                                        <li v-for="(item, key) in request_pending" :key="key">
                                            <div class="timeline-panel">
												<div class="media me-2">
													<img alt="image" width="50" :src="item.category.domain + item.category.image">
												</div>
                                                <div class="media-body">
													<h5 class="mb-1"><span clas="fw-bold">{{item.user.name}}</span> đã gửi yêu cầu mượn {{item.quantity}} {{item.category.name}}</h5>
													<small class="d-block">{{dateTime(item.created_at)}}</small>
												</div>
												<div class="dropdown">
													<el-popover
														placement="left"
														title="Lý do mượn"
														:width="200"
														trigger="click"
														:content="item.reason"
													>
														<template #reference>
															<button type="button" class="btn btn-primary light sharp" data-bs-toggle="dropdown">
																<i class="fas fa-comment-alt-dots"></i>
															</button>
														</template>
													</el-popover>
													
												</div>
											</div>
                                        </li>
                                    </ul>
                                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 370px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 293px;"></div></div></div>
                            </div>
                        </div>
					</div>
					<div class="col-xl-6 col-xxl-6 col-lg-6">
                        <div class="card border-0 pb-0">
                            <div class="card-header border-0 pb-0">
                                <h4 class="card-title">Yêu cầu trả sản phẩm</h4>
                            </div>
                            <div class="card-body"> 
                                <div id="DZ_W_Todo3" class="widget-media dz-scroll height370 ps ps--active-y">
                                    <ul class="timeline">
                                        <li v-for="(item, key) in request_return_pending" :key="key">
                                            <div class="timeline-panel">
												<div class="media me-2">
													<img alt="image" width="50" :src="item.request.category.domain + item.request.category.image">
												</div>
                                                <div class="media-body">
													<h5 class="mb-1"><span clas="fw-bold">{{item.user.name}}</span> đã gửi yêu cầu trả {{item.request.quantity}} {{item.request.category.name}}</h5>
													<small class="d-block">{{dateTime(item.created_at)}}</small>
												</div>
												
											</div>
                                        </li>
                                        
                                    </ul>
                                <div class="ps__rail-x" style="left: 0px; bottom: -200px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 200px; height: 370px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 121px; height: 222px;"></div></div></div>
                            </div>
                        </div>
					</div>
                </div>

			</div>
		</div>
	</div>
</template>
<script>
	import moment from "moment";
	import ComponentAll from './../../components/theme/component_all.vue';
	import { categories, products, requests, home } from "../../apis/data_information"

    export default {
		name: "App",
		components : {
			ComponentAll
		},
		data(){
			return {
				categories : [],
				products : [],
				requests : [],
				pruduct_in_stock : [],
				pruduct_not_in_stock : [],
				request_pending : [],
				request_return_pending : [],
			}
		},
		created(){
			this.fetchDataCategories()
			this.fetchDataProducts()
			this.fetchDataRequests()
			this.fetchDataAll()
    	},
		methods: {
			dateTime(value) {
				return moment(value).format("hh:mm - DD/MM/YYYY");
			},
			fetchDataCategories() {
				categories().then(res => {
					this.categories = res.data
				})
        	},
			fetchDataProducts() {
				products().then(res => {
					this.products = res.data
				})
        	},
			fetchDataRequests() {
				requests().then(res => {
					this.requests = res.data
				})
        	},
			fetchDataAll() {
				home().then(res => {
					this.pruduct_in_stock = res.data.pruduct_in_stock
					this.pruduct_not_in_stock = res.data.pruduct_not_in_stock
					this.request_pending = res.data.request_pending
					this.request_return_pending = res.data.request_return_pending
				})
        	},
		}
    }
</script>
