<template>
    <div>
        <ComponentAll />
        <div class="content-body">
                <div class="container-fluid">
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                            </div>
                        </div>
                    </div>                <!-- row -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Tạo mới thành viên!</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <Form @submit="onSubmit">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Tên</label>
                                                        <Field type="text" class="form-control" :rules="validateName" name="name" placeholder="Nhập tên"/>
                                                        <ErrorMessage class="text-danger" style="font-size : 12px" name="name" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Email</label>
                                                        <Field type="text" class="form-control" :rules="validateEmail" name="email" placeholder="Nhập email"/>
                                                        <ErrorMessage class="text-danger" style="font-size : 12px" name="email" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Số điện thoại</label>
                                                        <Field type="text" class="form-control" :rules="validatePhone" name="phone" placeholder="Nhập số điện thoại"/>
                                                        <ErrorMessage class="text-danger" style="font-size : 12px" name="phone" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Mật khẩu</label>
                                                        <Field type="password" class="form-control" :rules="validatePass" name="password" placeholder="Nhập số mật khẩu"/>
                                                        <ErrorMessage class="text-danger" style="font-size : 12px" name="password" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Chọn phòng ban</label>
                                                        <select class="form-control wide mb-3" v-model="department_id" placeholder="Chọn phòng ban">
                                                            <option v-for="item in departments" :key="item.id" :value="item.id" :label="item.name"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Chọn role</label>
                                                        <select class="form-control wide mb-3" v-model="role">
                                                            <option value="2">Thành viên</option>
                                                            <option value="1">Quản trị viên</option>
                                                            <option value="3">Quản lý thiết bị</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="col-lg-3">
                                                        <button type="submit" 
                                                            class="btn btn-primary btn-block" 
                                                            :disabled="btn_loading"
                                                        >
                                                            <span v-if="btn_loading"><i class="fas fa-spinner fa-spin"></i></span>
                                                            <span v-else>Tạo mới</span>
                                                        </button>
                                                    </div>
                                                </div>

                                                
                                            </div>
                                            
                                        </Form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>
<script>
import ComponentAll from './../../components/theme/component_all.vue';
import { userCreate } from "../../apis/user"
import { departments } from "../../apis/data_information"
import { ElNotification } from 'element-plus'
import { Form, Field, ErrorMessage } from 'vee-validate'


export default {
    name: "App",
    components : {
        ComponentAll, Form, Field, ErrorMessage
    },
    data(){
        return {
            department_id : '',
            role : 1,
            departments : [],
            btn_loading : false
        }
    },
    created(){
        this.fetchDataDepartments()
    },
    methods: {
        fetchDataDepartments(){
            departments().then(res => {
                this.departments = res.data
                this.department_id = res.data[0].id
            })
        },
        validateEmail(value) {
            if (!value) {
                return 'Không bỏ trống!';
            }
            const regex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
            if (!regex.test(value)) {
                return 'Không hợp lệ!';
            }
            return true;
        },
        validateName(value) {
            if (!value) {
                return 'Không bỏ trống!';
            }
            const regex = /^[.@&]?[a-zA-Z0-9 ]+[ !.@&()]?[ a-zA-Z0-9!()]+/
            if (!regex.test(value)) {
                return 'Không hợp lệ!';
            }
            return true;
        },
        validatePhone(value) {
            if (!value) {
                return 'Không bỏ trống!';
            }
            const regex = /(84|0[3|5|7|8|9])+([0-9]{8})\b/g
            if (!regex.test(value)) {
                return 'Không hợp lệ!';
            }
            return true;
        },
        validatePass(value) {
            if (!value) {
                return 'Không bỏ trống!';
            }
            if (value.length < 6) {
                return 'Không được nhỏ hơn 6 kí tự!';
            }
            return true;
        },
        
        onSubmit(values) {
            this.btn_loading = true
            let data = {
                name : values.name,
                email : values.email, 
                password : values.password, 
                phone : values.phone,
                department_id : this.department_id,
                role : this.role,
            }
            userCreate(data).then(res => {
                this.btn_loading = false
                ElNotification({
                    title: 'Thành công',
                    message: res.data.message,
                    type: 'success',
                })
                this.$router.push({name : 'UserList'}) 
            }).catch(e => {
                this.btn_loading = false
                if (e.response.status == 422) {
                    ElNotification({
                        title: 'Thất bại',
                        message: e.response.data.message,
                        type: 'error',
                    })
                }
            })
        },
    },
}
</script>
