<template>
    <div>
        <ComponentAll />
        <div class="content-body">
                <div class="container-fluid">
                    <!-- Add Project -->
                    <div class="modal fade" id="addProjectSidebar">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Create Project</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label class="text-black font-w500">Project Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                                    <label class="text-black font-w500">Dadeline</label>
                                                    <div class="cal-icon"><input type="date" class="form-control"><i class="far fa-calendar-alt"></i></div>
                                                </div>
                                        <div class="form-group">
                                            <label class="text-black font-w500">Client Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary">CREATE</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row page-titles mx-0">
                        
                    </div>                <!-- row -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Sửa tài khoản</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Họ và tên</label>
                                                        <input type="text" class="form-control input-default" disabled v-model="name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Email</label>
                                                        <input type="text" disabled class="form-control input-default" v-model="email">
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Số điện thoại</label>
                                                        <input type="text" class="form-control input-default" v-model="phone">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Phòng ban</label>
                                                        <input type="text" disabled class="form-control input-default" v-model="department_id">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <button type="button" 
                                                        class="btn btn-primary btn-block" 
                                                        @click="updateData()"
                                                        :disabled="btnLoading"
                                                    >
                                                        <span v-if="btnLoading"><i class="fas fa-spinner fa-spin"></i></span>
                                                        <span v-else>Chỉnh sửa</span>
                                                    </button>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>
<script>
import ComponentAll from './../../components/theme/component_all.vue';
import { userFind, userEditProfile } from "../../apis/user"
import { departmentFind } from "../../apis/department"
import { mapActions, mapGetters } from 'vuex';
import { ElMessage } from 'element-plus'

export default {
    name: "App",
    components : {
        ComponentAll
    },
    data(){
        return {
            id: '',
            name : '',
            phone: '',
            email: '',
            role: '',
            password: '',
            department_id: '',
            status: '',
        }
    },
    created(){
        this.getEditData()
    },
    computed : {
        ...mapGetters(['btnLoading'])
    },
    methods: {
        ...mapActions(['updateUserLogin']),
        getEditData(){
            userFind(this.$route.params.id).then(res => {
                this.name = res.data.name
                this.email = res.data.email
                this.phone = res.data.phone
                this.role = res.data.role
                this.department_id = res.data.department_id
                this.status = res.data.status
                departmentFind(res.data.department_id).then(res => {
                    this.department_id = res.data.name
                })
            })
            
        },
        updateData(){
            let data = {
                id: this.$route.params.id,
                phone : this.phone,
            }
            userEditProfile(data).then(res => {
                ElMessage({
                    type: 'success',
                    message: res.data.message,
                })
                this.getEditData()
            }).catch(error => {
                ElMessage({
                    type: 'error',
                    message: error.response.data.message,
                })
            })
        },
    },
}
</script>
