<template>
    <div>
        <ComponentAll />
        <div class="content-body">
                <div class="container-fluid">
                    <!-- Add Project -->
                    <div class="modal fade" id="addProjectSidebar">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Create Project</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label class="text-black font-w500">Project Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                                    <label class="text-black font-w500">Dadeline</label>
                                                    <div class="cal-icon"><input type="date" class="form-control"><i class="far fa-calendar-alt"></i></div>
                                                </div>
                                        <div class="form-group">
                                            <label class="text-black font-w500">Client Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary">CREATE</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h4>Sửa tài khoản</h4>
                                
                            </div>
                        </div>
                    </div>                <!-- row -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <!-- <h4 class="card-title">Input Style</h4> -->
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Tên tài khoản</label>
                                                        <input type="text" class="form-control input-default" disabled v-model="name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Email</label>
                                                        <input type="text" class="form-control input-default" disabled v-model="email">
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Số điện thoại</label>
                                                        <input type="text" class="form-control input-default" disabled v-model="phone">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Chức vụ</label>
                                                        <select class="form-control wide mb-3" v-model="role">
                                                            <option value="2">Thành viên</option>
                                                            <option value="1">Quản trị viên</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Chọn phòng ban</label>
                                                        <select class="form-control wide mb-3" v-model="department_id" placeholder="Chọn phòng ban">
                                                            <option v-for="item in departments" :key="item.id" :value="item.id" :label="item.name"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Tình trạng</label>
                                                        <select class="form-control wide mb-3" v-model="status">
                                                            <option value="0">Đang hoạt động</option>
                                                            <option value="1">Đã nghỉ việc</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <button type="button" 
                                                        class="btn btn-primary btn-block" 
                                                        @click="updateData"
                                                        :disabled="btnLoadingUpdate"
                                                    >
                                                        <span v-if="btnLoadingUpdate"><i class="fas fa-spinner fa-spin"></i></span>
                                                        <span v-else>Chỉnh sửa</span>
                                                    </button>
                                                </div>
                                                <div class="col-lg-3">
                                                    <button type="button" 
                                                        class="btn btn-warning btn-block" 
                                                        @click="resetPassword()"
                                                        :disabled="btnLoadingReset"
                                                    >
                                                        <span v-if="btnLoadingReset"><i class="fas fa-spinner fa-spin"></i></span>
                                                        <span v-else>Reset Password</span>
                                                    </button>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>
<script>
import { departments } from "../../apis/data_information"
import ComponentAll from './../../components/theme/component_all.vue';
import { userEdit, userFind, autoResetPassword } from "../../apis/user"
import { ElNotification } from 'element-plus'

export default {
    name: "App",
    components : {
        ComponentAll
    },
    data(){
        return {
            btnLoadingUpdate : false,
            btnLoadingReset : false,
            name : '',
            phone: '',
            email: '',
            role: '',
            department_id: '',
            status: '',
            departments : [],
        }
    },
    created(){
        this.getEditData()
        this.fetchDataDepartments()
    },
    methods: {
        fetchDataDepartments(){
            departments().then(res => {
                this.departments = res.data
            })
        },
        getEditData(){
            userFind(this.$route.params.id).then(res => {
                this.name = res.data.name
                this.email = res.data.email
                this.phone = res.data.phone
                this.role = res.data.role
                this.department_id = res.data.department_id
                this.status = res.data.status
            })
        },
        updateData(){
            this.btnLoadingUpdate = true
            let data = {
                id : this.$route.params.id,
                phone : this.phone,
                role: this.role,
                department_id: this.department_id,
                status: this.status,
            }
            userEdit(this.$route.params.id, data).then(res => {
                this.btnLoadingUpdate = false
                ElNotification({
                    title: 'Thành công',
                    message: res.data.message,
                    type: 'success',
                })
                window.location.href = '/users'
            })
        },
        resetPassword(){
            autoResetPassword(this.$route.params.id).then(res => {
                ElNotification({
                    title: 'Thành công',
                    message: res.data.message,
                    type: 'success',
                })
            })
        },
    },
}
</script>
