<template>
    <div>
        <ComponentAll />
        <div class="content-body">
                <div class="container-fluid">
                    
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                            </div>
                        </div>
                        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                            <a href="/users/create" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Thêm nhân viên</a>
                        </div>
                    </div>
                    <!-- row -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="mb-1">
                                                <label for="">Tìm kiếm</label>
                                                <input type="text" class="form-control input-default w-100" placeholder="Nhập từ khoá" v-model="query.keyword" @keyup="searchQuerry($event)">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="mb-1">
                                                <label for="">Phòng ban</label>
                                                <select class="form-control wide mb-3 w-100" v-model="query.department" @change="selectDepartment()">
                                                    <option value="">Tất cả</option>
                                                    <option v-for="item in departments" :key="item.id" :value="item.id"> {{item.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="mb-1">
                                                <label for="">Quyền</label>
                                                <select class="form-control wide mb-3 w-100" v-model="query.role" @change="selectRole()">
                                                    <option value="">Tất cả</option>
                                                    <option value="2">Thành viên</option>
                                                    <option value="1">Quản trị viên</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="mb-1">
                                                <label for="">Trạng thái</label>
                                                <select class="form-control wide mb-3 w-100" v-model="query.status" @change="selectStatus()">
                                                    <option value="">Tất cả</option>
                                                    <option value="0">Đang làm việc</option>
                                                    <option value="1">Đã nghỉ việc</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-responsive-md ck-table">
                                            <thead>
                                                <tr>
                                                    <th><strong>Tên</strong></th>
                                                    <th><strong>Email</strong></th>
                                                    <th><strong>Số điện thoại</strong></th>
                                                    <th><strong>Phòng ban</strong></th>
                                                    <th><strong>Quyền</strong></th>
                                                    <th><strong>Ngày tạo</strong></th>
                                                    <th><strong>Trạng thái</strong></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in dataUser" :key="item.id">
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <span class="w-space-no">{{item.name}}</span>
                                                        </div>
                                                    </td>
                                                    <td>{{item.email}}</td>
                                                    <td>{{item.phone}}</td>
                                                    <td>{{item.department.name}}</td>
                                                    <td>{{setRole(item.role)}}</td>
                                                    <td>{{dateTime(item.created_at)}}</td>
                                                    <td><div class="d-flex align-items-center">{{setStatus(item.status)}}</div></td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a :href="'users/' + item.id + '/edit'" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                            <a v-if="item.role == 2" href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp" @click="deleteData(item.id)"><i class="fa fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-between">
                                            <div style="position: relative;top: 10px;">Hiển thị {{formRecord}} - {{toRecord}} của {{dataCount}} bản ghi</div>
                                            <div>
                                                <paginationVue :pagination="pagination" :offset="5" @paginate="fetchData()"/>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>
<script>
import moment from "moment";
import ComponentAll from './../../components/theme/component_all.vue';
import { users, userDelete } from "../../apis/user"
import { departments } from "../../apis/data_information"
import paginationVue from "../pagination.vue"
import { ElMessage, ElMessageBox } from 'element-plus'

export default {
    name: "App",
    components : {
        paginationVue, ComponentAll
    },
    data(){
        return {
            query : {
                keyword : '',
                role : '',
                department : '',
                status : ''
            },
            dataUser : [],
            departments : [],
            dataCount : '',
            formRecord : '',
            toRecord : '',
            pagination: {
                'current_page': 1
            },
            pagination_payout: {
                'current_page': 1
            },
        }
    },
    created(){
        this.fetchData()
        this.fetchDataDepartments()
    },
    methods: {
        dateTime(value) {
            return moment(value).format("hh:mm - DD/MM/YYYY");
        },
        setStatus(status){
            if(status == 0){
                return "Đang làm việc"
            }
            return "Đã nghỉ việc"
        },
        setRole(role){
            if(role == 2){
                return "Thành viên"
            }
            return "Quản trị viên"
        },
        fetchDataDepartments(){
            departments().then(res => {
                this.departments = res.data
            })
        },
        searchQuerry(e){
            this.query.keyword = e.target.value
            this.fetchData()
        },
        selectDepartment(){
            this.fetchData()
        },
        selectRole(){
            this.fetchData()
        },
        selectStatus(){
            this.fetchData()
        },
        
        fetchData() {
            let query = this.query
            users(this.pagination.current_page, query).then(res => {
                this.dataUser = res.data.dataAll
                this.pagination = res.data.pagination
                this.dataCount = res.data.pagination.total
                this.formRecord = res.data.pagination.from
                this.toRecord = res.data.pagination.to
            })
        },
        deleteData(id){
            ElMessageBox.confirm(
                'Xác nhận xoá bản ghi. Tiếp tục?',
                'Lưu ý!',
                {
                    confirmButtonText: 'Đồng ý',
                    cancelButtonText: 'Huỷ bỏ',
                    type: 'warning',
                    draggable: true,
                }
            )
                .then(() => {
                    userDelete(id).then(res => {
                        if (res.data.status) {
                            ElMessage({
                                type: 'success',
                                message: res.data.message,
                            })
                            this.fetchData()
                        }
                    })
                })
                .catch(() => {
                    ElMessage({
                        type: 'info',
                        message: 'Huỷ bỏ xoá',
                    })
                })
        }
    }
}
</script>
<style>
    .pagination {
        margin: 0 !important;
    }
</style>
