<template>
    <div>
        <ComponentAll />
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                        </div>
                    </div>
                </div>                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thêm danh mục</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <Form @submit="onSubmit">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="">Tên</label>
                                                    <Field type="text" class="form-control" :rules="validateName" name="name" placeholder="Nhập tên"/>
                                                    <ErrorMessage class="text-danger" style="font-size : 12px" name="name" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <input type="file" class="form-file-input" accept="image/jpeg" @change=uploadImage>
                                                </div>
                                            </div>
                                            <div class="col-12" v-if="image_path">
                                                <img :src="domain+image_path" class="rounded me-3 mb-3" style="width : 180px; height : auto; object-fit: cover;"/>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="col-3">
                                                    <button type="submit" 
                                                        class="btn btn-primary btn-block" 
                                                        :disabled="btnLoading"
                                                    >
                                                        <span v-if="btnLoading"><i class="fas fa-spinner fa-spin"></i></span>
                                                        <span v-else>Tạo mới</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </Form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ComponentAll from './../../components/theme/component_all.vue';
import { categoryCreate } from "../../apis/category"
import { categoriesUpload } from "../../apis/uploadfile"
import { ElNotification } from 'element-plus'
import { Form, Field, ErrorMessage } from 'vee-validate';



export default {
    name: "App",
    components : {
        ComponentAll, Form, Field, ErrorMessage
    },
    data(){
        return {
            btnLoading : false,
            name : '',
            image_path : '',
            domain : ''
        }
    },
    methods: {
        onSubmit(values) {
            this.btnLoading = true
            let data = {
                name : values.name,
                image : this.image_path
            }
            categoryCreate(data).then(res => {
                this.btnLoading = false
                ElNotification({
                    title: 'Success',
                    message: 'This is a success message',
                    type: 'success',
                })
                this.$router
                .push({name : 'CategoryList'})
                .then(() => { this.$router.go() })
            })
        },
        validateName(value) {
            if (!value) {
                return 'Không bỏ trống tên!';
            }
            return true;
        },
        uploadImage(e){
            const image = e.target.files[0];
            let formData = new FormData();
            formData.append('image', image);
            categoriesUpload(formData).then(res => {
                this.image_path = res.data.link_image
                this.domain = res.data.domain
            })
        },
    },
}
</script>
