<template>
    <div>
        <ComponentAll />
        <div class="content-body">
                <div class="container-fluid">
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h4>Sửa danh mục</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Tên Danh Mục</label>
                                                        <input type="text" class="form-control input-default" v-model="name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="col-3">
                                                        <div class="mb-3">
                                                            <label for="">Ảnh</label>
                                                            <input type="file" class="form-file-input" accept="image/jpeg" @change=uploadImage>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12" v-if="image_path">
                                                    <img :src="domain+image_path" class="rounded me-3 mb-3" style="width : 250px; height : 200px; object-fit: cover;"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <button type="button" 
                                                        class="btn btn-primary btn-block" 
                                                        @click="updateData"
                                                        :disabled="btnLoading"
                                                    >
                                                        <span v-if="btnLoading"><i class="fas fa-spinner fa-spin"></i></span>
                                                        <span v-else>Chỉnh sửa</span>
                                                    </button>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>
<script>
import ComponentAll from './../../components/theme/component_all.vue';
import { categoryEdit, categoryFind } from "../../apis/category"
import { categories } from "../../apis/uploadfile"
import { ElNotification } from 'element-plus'

export default {
    name: "App",
    components : {
        ComponentAll
    },
    data(){
        return {
            name : '',
            image_path : '',
            domain : ''
        }
    },
    created(){
        this.getEditData()
    },
    methods: {
        uploadImage(e){
            const image = e.target.files[0];
            let formData = new FormData();
            formData.append('image', image);
            categories(formData).then(res => {
                this.image_path = res.data.link_image
                this.domain = res.data.domain
            })
        },
        getEditData(){
            categoryFind(this.$route.params.id).then(res => {
                this.name = res.data.name
                this.image_path = res.data.image
                this.domain = res.data.domain
            })
        },
        updateData(){
            let data = {
                name : this.name,
                image : this.image_path
            }
            categoryEdit(this.$route.params.id, data).then(res => {
                ElNotification({
                    title: 'Thành công',
                    message: res.data.message,
                    type: 'success',
                })
                window.location.href = "/categories"
            })
        },
    },
}
</script>
