<template>
    <div>
        <ComponentAll />
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <button class="btn btn-sm btn-primary" data-bs-toggle="collapse" data-bs-target="#default_collapseOne_filter" aria-expanded="false"> <i class="fa fa-plus"></i> Thêm loại hàng</button>
                    </div>
                </div>

                <div class="row collapse" id="default_collapseOne_filter" data-bs-parent="#accordion-one-filter">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thêm danh mục</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <Form @submit="onSubmit">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="">Tên</label>
                                                    <Field type="text" class="form-control" :rules="validateName" name="name" placeholder="Nhập tên"/>
                                                    <ErrorMessage class="text-danger" style="font-size : 12px" name="name" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <input type="file" class="form-file-input" accept="image/jpeg" @change=uploadImage>
                                                </div>
                                            </div>
                                            <div class="col-12" v-if="dataCreate.image_path">
                                                <img :src="dataCreate.domain+dataCreate.image_path" class="rounded me-3 mb-3" style="width : 180px; height : auto; object-fit: cover;"/>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="col-3">
                                                    <button type="submit" 
                                                        class="btn btn-primary btn-block" 
                                                        :disabled="btnLoading"
                                                    >
                                                        <span v-if="btnLoading"><i class="fas fa-spinner fa-spin"></i></span>
                                                        <span v-else>Tạo mới</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </Form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Danh sách loại</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-md ck-table">
                                    <thead>
                                        <tr>
                                            <th><strong>Id</strong></th>
                                            <th><strong>Tên</strong></th>
                                            <th><strong>Số thiết bị</strong></th>
                                            <th><strong>Ngày Tạo</strong></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in dataCategory" :key="item.id">
                                            <td><span class="fw-bold">#{{item.id}}</span></td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img :src="item.domain+item.image" class="rounded me-3 mb-3" style="width : 50px; height : auto; object-fit: cover;"/>
                                                    <span class="w-space-no">{{item.name}}</span>
                                                </div>
                                            </td>
                                            <td>{{item.products.length}} thiết bị</td>
                                            <td>{{dateTime(item.created_at)}}</td>
                                            <td>
                                                <div class="d-flex">
                                                    <a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg" @click="getEditData(item.id)">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp" @click="deleteData(item.id)"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between">
                                    <div style="position: relative; top: 10px;">Hiển thị {{formRecord}} - {{toRecord}} của {{dataCount}} bản ghi</div>
                                    <div>
                                        <paginationVue :pagination="pagination" :offset="5" @paginate="fetchData()" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Form Cập nhật</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label for="">Tên Danh Mục</label>
                                            <input type="text" class="form-control input-default" v-model="dataUpdate.name">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-3">
                                            <div class="mb-3">
                                                <label for="">Ảnh</label>
                                                <input type="file" class="form-file-input" accept="image/jpeg" @change=uploadImageUpdate>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12" v-if="dataUpdate.image_path">
                                        <img :src="dataUpdate.domain+dataUpdate.image_path" class="rounded me-3 mb-3" style="width : 250px; height : 200px; object-fit: cover;"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-primary" :disabled="btnLoadingUpdate" @click="updateData(dataUpdate.id)">
                                    <span v-if="btnLoadingUpdate"><i class="fas fa-spinner fa-spin"></i></span>
                                    <span v-else>Lưu lại cập nhật</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import moment from "moment";
import { categories, categorytDelete, categoryCreate, categoryFind, categoryEdit } from "../../apis/category"
import { categoriesUpload } from "../../apis/uploadfile"
import paginationVue from "../pagination.vue"
import ComponentAll from './../../components/theme/component_all.vue';
import { ElMessage, ElMessageBox } from 'element-plus'
import { Form, Field, ErrorMessage } from 'vee-validate';


export default {
    name: "App",
    components : {
        paginationVue, ComponentAll, Form, Field, ErrorMessage
    },
    data(){
        return {
            btnLoading : false,
            btnLoadingUpdate : false,
            dataCreate : {
                image_path : '',
                domain : '',
            },
            dataUpdate : {
                id : '',
                name: '',
                image_path : '',
                domain : '',
            },
            dataCategory : [],
            dataCount : '',
            formRecord : '',
            toRecord : '',
            pagination: {
                'current_page': 1
            },
            pagination_payout: {
                'current_page': 1
            },
            strSearch: null
        }
    },
    created(){
        this.fetchData()
    },
    methods: {
        //edit
        getEditData(id){
            categoryFind(id).then(res => {
                this.dataUpdate.id = res.data.id
                this.dataUpdate.name = res.data.name
                this.dataUpdate.image_path = res.data.image
                this.dataUpdate.domain = res.data.domain
            })
        },
        uploadImageUpdate(e){
            const image = e.target.files[0];
            let formData = new FormData();
            formData.append('image', image);
            categoriesUpload(formData).then(res => {
                this.dataUpdate.image_path = res.data.link_image
                this.dataUpdate.domain = res.data.domain
            })
        },
        updateData(id){
            this.btnLoadingUpdate = true
            let data = {
                name : this.dataUpdate.name,
                image : this.dataUpdate.image_path
            }
            categoryEdit(id, data).then(res => {
                this.btnLoadingUpdate = false
                ElMessage({
                    type: 'success',
                    message: res.data.message,
                })
                this.fetchData()
            }).catch(e => {
                this.btnLoadingUpdate = false
                ElMessage({
                    type: 'error',
                    message: e.response.data.message,
                })
            })
        },

        //create
        onSubmit(values) {
            this.btnLoading = true
            let data = {
                name : values.name,
                image : this.dataCreate.image_path
            }
            categoryCreate(data).then(res => {
                this.dataCreate.image_path = ""
                this.btnLoading = false
                ElMessage({
                    type: 'success',
                    message: res.data.message,
                })
                this.fetchData()
            }).catch(e => {
                this.btnLoading = false
                ElMessage({
                    type: 'error',
                    message: e.response.data.message,
                })
            })
        },
        validateName(value) {
            if (!value) {
                return 'Không bỏ trống tên!';
            }
            return true;
        },
        uploadImage(e){
            const image = e.target.files[0];
            let formData = new FormData();
            formData.append('image', image);
            categoriesUpload(formData).then(res => {
                this.dataCreate.image_path = res.data.link_image
                this.dataCreate.domain = res.data.domain
            })
        },

        //list
        dateTime(value) {
            return moment(value).format("hh:mm - DD/MM/YYYY");
        },
        
        fetchData() {
            categories(this.pagination.current_page).then(res => {
                this.dataCategory = res.data.dataAll
                this.pagination = res.data.pagination
                this.dataCount = res.data.pagination.total
                this.formRecord = res.data.pagination.from
                this.toRecord = res.data.pagination.to
            })
        },
        deleteData(id){
            ElMessageBox.confirm(
                'Xác nhận xoá bản ghi. Tiếp tục?',
                'Lưu ý!',
                {
                    confirmButtonText: 'Đồng ý',
                    cancelButtonText: 'Huỷ bỏ',
                    type: 'warning',
                    draggable: true,
                }
            )
                .then(() => {
                    categorytDelete(id).then(res => {
                        ElMessage({
                            type: 'success',
                            message: res.data.message,
                        })
                        this.fetchData()
                    }).catch(()=> {
                        ElMessage({
                            type: 'error',
                            message: e.response.data.message,
                        })
                    })
                })
                .catch(() => {
                    ElMessage({
                        type: 'error',
                        message: e.response.data.message,
                    })
                })
        },
    },
}
</script>
<style>
    .pagination {
        margin: 0 !important;
    }
</style>
