<template>
    <div>
        <ComponentAll />
        <div class="content-body">
            <div class="container-fluid">
                <!-- Add Project -->
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <!-- <h4>Thêm Phòng Ban</h4> -->
                        </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thêm Phòng Ban</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <Form @submit="onSubmit">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="">Tên</label>
                                                    <Field type="text" class="form-control" :rules="validateName" name="name" placeholder="Nhập tên"/>
                                                    <ErrorMessage class="text-danger" style="font-size : 12px" name="name" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="">Số điện thoại</label>
                                                    <Field type="text" class="form-control" :rules="validatePhone" name="phone" placeholder="Nhập số điện thoại"/>
                                                    <ErrorMessage class="text-danger" style="font-size : 12px" name="phone" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="col-3">
                                                    <button type="submmit" class="btn btn-primary btn-block" @click="createDepartment" :disabled="btnLoading">
                                                        <span v-if="btnLoading"><i class="fas fa-spinner fa-spin"></i></span>
                                                        <span v-else>Tạo mới</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </Form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ComponentAll from './../../components/theme/component_all.vue'
import { departmentCreate } from "../../apis/department"
import { ElNotification } from 'element-plus'
import { Form, Field, ErrorMessage } from 'vee-validate'

export default {
    name: "App",
    components : {
        ComponentAll, Form, Field, ErrorMessage
    },
    data(){
        return {
            btnLoading : false,
        }
    },
    methods: {
        validateName(value) {
            if (!value) {
                return 'Không bỏ trống!';
            }
            const regex = /^[.@&]?[a-zA-Z0-9 ]+[ !.@&()]?[ a-zA-Z0-9!()]+/
            if (!regex.test(value)) {
                return 'Không hợp lệ!';
            }
            return true;
        },validatePhone(value) {
            if (!value) {
                return 'Không bỏ trống!';
            }
            const regex = /(84|0[3|5|7|8|9])+([0-9]{8})\b/g
            if (!regex.test(value)) {
                return 'Không hợp lệ!';
            }
            return true;
        },
        onSubmit(values) {
            this.btnLoading = true
            let data = {
                name : values.name,
                phone : values.phone
            }
            departmentCreate(data).then(res => {
                this.btnLoading = false,
                ElNotification({
                    title: 'Thành công',
                    message: res.data.message,
                    type: 'success',
                })
                this.$router
                .push({name : 'DepartmentList'})
                .then(() => { this.$router.go() })
            })
        },
    },
}
</script>
