<template>
    <div>
        <ComponentAll />
        <div class="content-body">
                <div class="container-fluid">
                    
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                
                            </div>
                        </div>
                    </div>                <!-- row -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Sửa Phòng Ban</h4>>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Tên Phòng Ban</label>
                                                        <input type="text" class="form-control input-default" v-model="name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="">Số điện thoại</label>
                                                        <input type="text" class="form-control input-default" v-model="phone">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <button type="button" 
                                                        class="btn btn-primary btn-block" 
                                                        @click="updateData"
                                                        :disabled="btnLoading"
                                                    >
                                                        <span v-if="btnLoading"><i class="fas fa-spinner fa-spin"></i></span>
                                                        <span v-else>Chỉnh sửa</span>
                                                    </button>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>
<script>
import ComponentAll from './../../components/theme/component_all.vue';
import { departmentEdit, departmentFind } from "../../apis/department"
import { ElNotification } from 'element-plus'

export default {
    name: "App",
    components : {
        ComponentAll
    },
    data(){
        return {
            btnLoading : false,
            name : '',
            phone: '',
        }
    },
    created(){
        this.getEditData()
    },
    methods: {
        getEditData(){
            departmentFind(this.$route.params.id).then(res => {
                this.name = res.data.name
                this.phone = res.data.phone
            })
        },
        updateData(){
            this.btnLoading = true
            let data = {
                name : this.name,
                phone : this.phone,
                id : this.$route.params.id
            }
            departmentEdit(this.$route.params.id, data).then(res => {
                this.btnLoading = false
                ElNotification({
                    title: 'Thành công',
                    message: res.data.message,
                    type: 'success',
                })
                this.$router
                .push({name : 'DepartmentList'})
                .then(() => { this.$router.go() })
            })
        },
    },
}
</script>
