<template>
    <div>
        <ComponentAll />
        <div class="content-body">
            <div class="container-fluid">
                <!-- Add Project -->
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <button data-bs-toggle="collapse" data-bs-target="#form-create-department" aria-expanded="false" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Thêm phòng ban</button>
                    </div>
                </div>

                <div class="row collapse" id="form-create-department">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thêm danh mục</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <Form @submit="onSubmit">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="">Tên</label>
                                                    <Field type="text" class="form-control" :rules="validateName" name="name" placeholder="Nhập tên"/>
                                                    <ErrorMessage class="text-danger" style="font-size : 12px" name="name" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="">Số điện thoại</label>
                                                    <Field type="text" class="form-control" :rules="validatePhone" name="phone" placeholder="Nhập số điện thoại"/>
                                                    <ErrorMessage class="text-danger" style="font-size : 12px" name="phone" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="col-3">
                                                    <button type="submmit" class="btn btn-primary btn-block" :disabled="btnLoading">
                                                        <span v-if="btnLoading"><i class="fas fa-spinner fa-spin"></i></span>
                                                        <span v-else>Tạo mới</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </Form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Danh sách phòng ban</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-md ck-table">
                                    <thead>
                                        <tr>
                                            <th><strong>ID</strong></th>
                                            <th><strong>Tên phòng ban</strong></th>
                                            <th><strong>Số điện thoại</strong></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in dataDepartment" :key="item.id">
                                            <td class="fw-bold">#{{item.id}}</td>
                                            <td> 
                                                <div class="d-flex align-items-center">
                                                    <span class="w-space-no">{{item.name}}</span>
                                                </div>
                                            </td>
                                            <td>{{item.phone}}</td>
                                            <td>
                                                <div class="d-flex">
                                                    <a href="" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg" @click="getEditData(item.id)">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp" @click="deleteData(item.id)"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between">
                                    <div style="position: relative; top: 10px;">Hiển thị {{formRecord}} - {{toRecord}} của {{dataCount}} bản ghi</div>
                                    <div>
                                        <paginationVue :pagination="pagination" :offset="5" @paginate="fetchData()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Form Cập nhật</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label for="">Tên Phòng Ban</label>
                                            <input type="text" class="form-control input-default" v-model="dataUpdate.name">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label for="">Số điện thoại</label>
                                            <input type="text" class="form-control input-default" v-model="dataUpdate.phone">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-primary" :disabled="btnLoadingUpdate" @click="updateData(dataUpdate.id)">
                                    <span v-if="btnLoadingUpdate"><i class="fas fa-spinner fa-spin"></i></span>
                                    <span v-else>Lưu lại cập nhật</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</template>
<script>
import { departments, departmentDelete, departmentCreate, departmentFind, departmentEdit } from "../../apis/department"
import paginationVue from "../pagination.vue"
import ComponentAll from './../../components/theme/component_all.vue';
import { ElMessage, ElMessageBox } from 'element-plus'
import { Form, Field, ErrorMessage } from 'vee-validate'

export default {
    name: "App",
    components : {
        paginationVue, ComponentAll, Form, Field, ErrorMessage
    },
    data(){
        return {
            dataDepartment : [],
            dataUpdate : {
                id : '',
                name : '',
                phone : ''
            },
            dataCount : '',
            formRecord : '',
            toRecord : '',
            btnLoading : false,
            btnLoadingUpdate : false,
            pagination: {
                'current_page': 1
            },
            pagination_payout: {
                'current_page': 1
            },
        }
    },
    created(){
        this.fetchData()
    },
    methods: {
        //edit
        getEditData(id){
            departmentFind(id).then(res => {
                this.dataUpdate.id = res.data.id
                this.dataUpdate.name = res.data.name
                this.dataUpdate.phone = res.data.phone
            })
        },
        updateData(id){
            this.btnLoadingUpdate = true
            let data = {
                name : this.dataUpdate.name,
                phone : this.dataUpdate.phone,
                id : id
            }
            departmentEdit(id, data).then(res => {
                this.btnLoadingUpdate = false
                ElMessage({
                    type: 'success',
                    message: res.data.message,
                })
                this.fetchData()
            }).catch(e => {
                this.btnLoadingUpdate = false
                ElMessage({
                    type: 'error',
                    message: e.response.data.message,
                })
            })
        },

        //create
        validateName(value) {
            if (!value) {
                return 'Không bỏ trống!';
            }
            return true;
        },validatePhone(value) {
            if (!value) {
                return 'Không bỏ trống!';
            }
            const regex = /(84|0[3|5|7|8|9])+([0-9]{8})\b/g
            if (!regex.test(value)) {
                return 'Không hợp lệ!';
            }
            return true;
        },
        onSubmit(values) {
            this.btnLoading = true
            let data = {
                name : values.name,
                phone : values.phone
            }
            departmentCreate(data).then(res => {
                this.btnLoading = false
                ElMessage({
                    type: 'success',
                    message: res.data.message,
                })
                this.fetchData()
            }).catch(e => {
                this.btnLoading = false
                ElMessage({
                    type: 'error',
                    message: e.response.data.message,
                })
            })
        },
        //list
        fetchData() {
            departments(this.pagination.current_page).then(res => {
                this.dataDepartment = res.data.dataAll
                this.pagination = res.data.pagination
                this.dataCount = res.data.pagination.total
                this.formRecord = res.data.pagination.from
                this.toRecord = res.data.pagination.to
            })
        },
        deleteData(id){
            ElMessageBox.confirm(
                'Xác nhận xoá bản ghi. Tiếp tục?',
                'Lưu ý!',
                {
                    confirmButtonText: 'Đồng ý',
                    cancelButtonText: 'Huỷ bỏ',
                    type: 'warning',
                    draggable: true,
                }
            ).then(() => {
                departmentDelete(id).then(res => {
                    ElMessage({
                        type: 'success',
                        message: res.data.message,
                    })
                    this.fetchData()
                }).catch(e => {
                    ElMessage({
                        type: 'error',
                        message: e.response.data.message,
                    })
                })
            })
        }
    },
}
</script>
<style>
    .pagination {
        margin: 0 !important;
    }
</style>
