<template>
     <div class="authincation h-100 mt-5">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<img src="https://thefirstone.jp/wp-content/uploads/2021/09/logo.png" alt="">
									</div>
                                    <form @submit.prevent="updateUserLogin({email : email, password : password})">
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Email</strong></label>
                                            <input type="email" class="form-control" placeholder="Nhập email" v-model="email">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Mật khẩu</strong></label>
                                            <input type="password" class="form-control" placeholder="Nhập mật khẩu" v-model="password">
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                                <a href="/reset-password">Quên mật khẩu?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" 
                                                class="btn btn-primary btn-block" 
                                                :disabled="btnLoading"
                                            >
                                                <span v-if="btnLoading"><i class="fas fa-spinner fa-spin"></i></span>
                                                <span v-else>Đăng Nhập</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex';
    export default {
        name: "App",
        datas(){
            return {
                email : '',
                password : '',
                btn_loading : false
            }
        },
        computed : {
            ...mapGetters(['btnLoading'])
        },
        methods: {
            ...mapActions(['updateUserLogin']),

        },
    }
</script>
