<template>
  <div class="authincation h-100 mt-5">
    <div class="container h-100">
      <div class="row justify-content-center h-100 align-items-center">
        <div class="col-md-6">
          <div class="authincation-content">
            <div class="row no-gutters">
              <div class="col-xl-12">
                <div class="auth-form">
                  <div class="text-center mb-3">
                    <img src="/assets/images/logo-full.png" alt="" />
                  </div>
                  <form>
                    <div class="form-group">
                      <label class="mb-1"><strong>Email</strong></label>
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Nhập email"
                        v-model="email"
                      />
                    </div>
                    <div
                      class="form-row d-flex justify-content-between mt-4 mb-2"
                    >
                    </div>
                    <div class="text-center">
                      <button
                        type="button"
                        class="btn btn-primary btn-block"
                        @click="
                          resetPasswordBtn()
                        "
                        :disabled="btnLoading"
                      >
                        <span v-if="btnLoading"
                          ><i class="fas fa-spinner fa-spin"></i
                        ></span>
                        <span v-else>Reset Password</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { resetPassword } from "../../apis/auth"
import { ElNotification } from 'element-plus'
export default {
  name: "App",
  datas() {
    return {
      email: "",
    };
  },
  methods: {
    resetPasswordBtn(){
        let data = {
            email: this.email
        }
        resetPassword(data).then(res => {
                ElNotification({
                    title: 'Notification',
                    message: res.data[0].message,
                    type: 'notification',
                })
                if(res.data[0].status == true)
                {
                    this.$router
                    .push({name : 'Login'})
                    .then(() => { this.$router.go() })
                }
            })
    }
  },
};
</script>
