<template>
    <div>
        <ComponentAll />
        <div class="content-body">
            <div class="container-fluid">
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="d-flex">
                                <div class="card-header">
                                    <button class="btn btn-sm btn-success" data-bs-toggle="collapse" data-bs-target="#default_collapseOne_filter" aria-expanded="false">Bộ lọc <i class="fas fa-filter"></i></button>
                                </div>
                            </div>
                            <div class="collapse" id="default_collapseOne_filter" data-bs-parent="#accordion-one-filter" style="margin-top: 30px; margin-left: 30px;">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="">Trạng thái</label>
                                            <select name="" id="" class="form-control" @change="selectStatus()" v-model="filter.status">
                                                <option value="">Tất cả</option>
                                                <option value="0">Chờ duyệt</option>
                                                <option value="1">Đã duyệt</option>
                                                <option value="2">Từ chối</option>
                                                <option value="3">Đã trả</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="">Danh mục</label>
                                            <select class="form-control wide mb-3" tabindex="null" v-model="filter.category" @change="selectCategory()">
                                                <option value="0">Tất cả</option>
                                                <option v-for="item in categories" :key="item.id" :value="item.id" :label="item.name"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div v-if="loadingTable" class="text-center" style="font-size: 2rem;"><i class="fas fa-spinner fa-spin"></i></div>
                                <table class="table table-responsive-md ck-table" v-else>
                                    <thead>
                                        <tr>
                                            <th><strong>Tên tài khoản</strong></th>
                                            <th><strong>Tên danh mục</strong></th>
                                            <th><strong>Số lượng</strong></th>
                                            <th><strong>Trạng thái</strong></th>
                                            <th><strong>Lý do mượn</strong></th>
                                            <th><strong>Lý do trả</strong></th>
                                            <th><strong>Ngày mượn</strong></th>
                                            <th><strong>Ngày trả</strong></th>
                                            <th><strong>Hành động</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="dataRequest.length < 1">
                                            <td colspan="9" class="text-center mx-3">Không có bản ghi!</td>
                                        </tr>
                                        <tr v-for="item in dataRequest" :key="item.id" v-else>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="w-space-no">{{item.user ? item.user.name : ''}}</span>
                                                </div>
                                            </td>
                                            <td>{{item.category.name}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>
                                                <span v-if="item.status == 0" class="badge badge-rounded badge-warning">Chờ duyệt</span>
                                                <span v-else-if="item.status == 1" class="badge badge-rounded badge-primary">Đã duyệt</span>
                                                <span v-else-if="item.status == 2" class="badge badge-rounded badge-danger">Từ chối</span>
                                                <span v-else class="badge badge-rounded badge-success">Đã trả</span>
                                            </td>
                                            <td>{{item.reason}}</td>
                                            <td>{{item.message}}</td>
                                            <td>{{item.date_start}}</td>
                                            <td>{{item.date_end}}</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-dark shadow btn-xs sharp me-1" data-bs-toggle="modal" :data-bs-target="'#previewRequest'+item.id" v-if="item.products.length > 0">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <div class="modal fade" :id="'previewRequest'+item.id" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Xem nhanh</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-3" v-for="(product, key) in item.products" :key="key">
                                                                    <div class="row" v-if="product.request_id">
                                                                        <div class="col-4">
                                                                            <img :src="product.product_images[0].domain + product.product_images[0].image" alt="" style="width: 200px;object-fit: cover;">
                                                                        </div>
                                                                        <div class="col-8">
                                                                            <h3>{{product.name}}</h3>
                                                                            <div>Mã sản phẩm : <span class="fw-bold text-danger">{{product.code_producer}}</span></div>
                                                                            <div>Mã TFO : <span class="fw-bold text-danger">{{product.code_tfo}}</span></div>
                                                                            <div>Ngày tạo request : {{dateTime(item.created_at)}}</div>
                                                                            <div>Thời gian phải trả : {{dateTime(item.date_end)}}</div>
                                                                            <div>Lí do mượn : {{item.reason}}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Đóng</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between" v-if="dataRequest.length > 0">
                                    <div style="position: relative; top: 10px;">Hiển thị {{formRecord}} - {{toRecord}} của {{dataCount}} bản ghi</div>
                                    <div>
                                        <paginationVue :pagination="pagination" :offset="5" @paginate="fetchData()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
import moment from "moment";
import { requestUser } from "../../apis/request"
import paginationVue from "../pagination.vue"
import ComponentAll from './../../components/theme/component_all.vue';
import { InfoFilled } from '@element-plus/icons-vue'
import { categories } from "../../apis/data_information"

export default {
    name: "App",
    components : {
        paginationVue, ComponentAll, InfoFilled
    },
    data(){
        return {
            loadingTable : false,
            filter : {
                category : 0,
                status : '',
                date : '',
                user_id : localStorage.getItem('user_id'),
            },
            dataRequest : [],
            categories : [],
            dateQuery : '',
            dataCount : '',
            formRecord : '',
            toRecord : '',
            pagination: {
                'current_page': 1
            },
            pagination_payout: {
                'current_page': 1
            },
        }
    },
    created(){
        this.fetchData()
        this.fetchDataCategories()
    },

    methods: {
        dateTime(value) {
            return moment(value).format("hh:mm - DD/MM/YYYY");
        },
        selectStatus(){
            this.loadingTable = true
            this.fetchData()
        },

        selectCategory(){
            this.loadingTable = true
            this.fetchData()
        },
        
        fetchData() {
            this.loadingTable = true
            requestUser(this.pagination.current_page, this.filter).then(res => {
                console.log(res.data, 'request')
                this.loadingTable = false
                this.dataRequest = res.data.dataAll
                this.pagination = res.data.pagination
                this.dataCount = res.data.pagination.total
                this.formRecord = res.data.pagination.from
                this.toRecord = res.data.pagination.to
            })
        },
        fetchDataCategories(){
            categories().then(res => {
                console.log(res.data)
                this.categories = res.data
            })
        },
    },
}
</script>
<style>
    .pagination {
        margin: 0 !important;
    }
    .el-popconfirm__action{
        display: flex !important;
    }
</style>
