<template>
    <div>
        <ComponentAll />
        <div class="content-body">
            <div class="container-fluid">
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="d-flex">
                                <div class="card-header">
                                    <button class="btn btn-sm btn-success me-3" data-bs-toggle="collapse" data-bs-target="#default_collapseOne_filter" aria-expanded="false">Bộ lọc <i class="fas fa-filter"></i></button>
                                    <button class="btn btn-sm btn-success me-3" @click="exportExcel()">Xuất Excel <i class="fas fa-file-excel"></i></button>
                                    <button class="btn btn-sm btn-primary me-3" @click="confirmEventMulpitle(1)" :disabled="btnLoadingApproved">
                                        <span v-if="btnLoadingApproved"><i class="fas fa-spinner fa-spin"></i></span>
                                        <span v-else>Duyệt tất cả</span>
                                    </button>
                                    <button class="btn btn-sm btn-danger me-3" @click="confirmEventMulpitle(2)" :disabled="btnLoadingRejected">
                                        <span v-if="btnLoadingRejected"><i class="fas fa-spinner fa-spin"></i></span>
                                        <span v-else>Từ chối tất cả</span>
                                    </button>
                                    <button class="btn btn-sm btn-primary"  data-bs-toggle="modal" data-bs-target="#basicModal"> <i class="fa fa-plus"></i> Import Excel</button>
                            <div class="modal fade" id="basicModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Import excel</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="input-group mb-3">
                                                <div class="form-file">
                                                    <input type="file" class="form-file-input form-control" @change="onFileChange">
                                                </div>
                                                <span class="input-group-text">Upload file excel</span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Đóng</button>
                                            <button type="button" class="btn btn-success light" @click="uploadFile()">Upload file</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                            
                            <div class="collapse" id="default_collapseOne_filter" data-bs-parent="#accordion-one-filter" style="margin-top: 30px; margin-left: 30px;">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="">Trạng thái</label>
                                            <select name="" id="" class="form-control" @change="selectStatus()" v-model="filter.status">
                                                <option value="">Tất cả</option>
                                                <option value="0">Chờ duyệt</option>
                                                <option value="1">Đã duyệt</option>
                                                <option value="2">Từ chối</option>
                                                <option value="3">Đã trả</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="">Danh mục</label>
                                            <select class="form-control wide mb-3" tabindex="null" v-model="filter.category" @change="selectCategory()">
                                                <option value="0">Tất cả</option>
                                                <option v-for="item in categories" :key="item.id" :value="item.id" :label="item.name"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="">Thời gian</label>
                                            <el-date-picker
                                                @change="selectDate()"
                                                class="h-100"
                                                v-model="filter.date"
                                                type="daterange"
                                                start-placeholder="Ngày mượn"
                                                end-placeholder="Ngày trả"
                                                :default-value="[new Date(2022, 9, 1), new Date(2022, 10, 1)]"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div v-if="loadingTable" class="text-center" style="font-size: 2rem;"><i class="fas fa-spinner fa-spin"></i></div>
                                <table class="table table-responsive-md ck-table" v-else>
                                    <thead>
                                        <tr>
                                            <th><input class="form-check-input" type="checkbox" v-model="allSelected"/></th>
                                            <th><strong>Tên tài khoản</strong></th>
                                            <th><strong>Tên danh mục</strong></th>
                                            <th><strong>Số lượng</strong></th>
                                            <th><strong>Trạng thái</strong></th>
                                            <th><strong>Lý do mượn</strong></th>
                                            <th><strong>Lý do từ chối</strong></th>
                                            <th><strong>Ngày mượn</strong></th>
                                            <th><strong>Ngày trả</strong></th>
                                            <th><strong>Hành động</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="dataRequest.length < 1">
                                            <td colspan="9" class="text-center mx-3">Không có bản ghi!</td>
                                        </tr>
                                        <tr v-for="item in dataRequest" :key="item.id" v-else>
                                            <td v-if="item.status == 0">
                                                <input class="form-check-input" type="checkbox" v-model="item.selected" />
                                            </td>
                                            <td v-else-if="item.products.length == 0 && item.status == 1">
                                                <input class="form-check-input" type="checkbox" v-model="item.selected" />
                                            </td>
                                            <td v-else>
                                            </td>
                                            <td class="fw-bold">
                                                <span>{{item.user.name}}</span><br>
                                                <span style="font-size: 13px">{{item.user.email}}</span>
                                            </td>
                                            <td>{{item.category.name}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>
                                                <span v-if="item.status == 0" class="badge badge-rounded badge-warning">Chờ duyệt</span>
                                                <span v-else-if="item.status == 1" class="badge badge-rounded badge-primary">Đã duyệt</span>
                                                <span v-else-if="item.status == 2" class="badge badge-rounded badge-danger">Từ chối</span>
                                                <span v-else class="badge badge-rounded badge-success">Đã trả</span>
                                            </td>
                                            <td>{{item.reason}}</td>
                                            <td>{{item.message}}</td>
                                            <td>{{item.date_start}}</td>
                                            <td>{{item.date_end}}</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp me-1" @click="confirmEvent(item.id, 1)" v-if="item.status == 0">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp me-1" @click="confirmEventMulpitle(2, item)" v-if="item.status == 0">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-dark shadow btn-xs sharp me-1" data-bs-toggle="modal" :data-bs-target="'#previewRequest'+item.id" v-if="item.products.length > 0">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a href="javascript:void(0);" @click="confirmEvent(item.id, 1)" class="btn btn-success shadow btn-xs sharp me-1" v-if="item.products.length == 0 && item.status == 1">
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                                <div class="modal fade" :id="'previewRequest'+item.id" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Xem nhanh</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-3" v-for="(product, key) in item.products" :key="key">
                                                                    <div class="row" v-if="product.request_id">
                                                                        <div class="col-4">
                                                                            <img :src="product.product_images[0].domain + product.product_images[0].image" alt="" style="width: 200px;object-fit: cover;">
                                                                        </div>
                                                                        <div class="col-8">
                                                                            <h3>{{product.name}}</h3>
                                                                            <div>Mã sản phẩm : <span class="fw-bold text-danger">{{product.code_producer}}</span></div>
                                                                            <div>Mã TFO : <span class="fw-bold text-danger">{{product.code_tfo}}</span></div>
                                                                            <div>Ngày tạo request : {{dateTime(item.created_at)}}</div>
                                                                            <div>Thời gian phải trả : {{dateTime(item.date_end)}}</div>
                                                                            <div>Lí do mượn : {{item.reason}}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Đóng</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between" v-if="dataRequest.length > 0">
                                    <div style="position: relative; top: 10px;">Hiển thị {{formRecord}} - {{toRecord}} của {{dataCount}} bản ghi</div>
                                    <div>
                                        <paginationVue :pagination="pagination" :offset="5" @paginate="fetchData()" />
                                    </div>
                                </div>
                                <el-drawer v-model="drawer" title="I am the title" :with-header="false">
                                    <h2>Duyệt request</h2>
                                    <div class="mt-5 px-5" v-if="drawer_type == 1">
                                        <div class="mb-4" v-for="(item, key) in dataRequestApprove" :key="key">
                                            <h4>{{item.user.name}} - {{item.quantity}} {{item.category.name}}</h4>
                                            <el-select class="w-100"
                                            v-model="requests.id_product[key]"
                                            multiple
                                            placeholder="Chọn sản phẩm"
                                            @change="requests.id[key] = item.id"
                                            >
                                                <el-option
                                                    v-for="value in item.category.products"
                                                    :key="value.id"
                                                    :label="value.name"
                                                    :value="value.id"
                                                />
                                            </el-select>
                                        </div>
                                        <button class="btn btn-sm btn-primary" @click="sendApprooveRequest()">Duyệt</button>
                                    </div>
                                    <div class="mt-5 px-5" v-else>
                                        <div class="mb-4" v-for="(item, key) in dataRequestApprove" :key="key">
                                            <h4>{{item.user.name}} - {{item.quantity}} {{item.category.name}}</h4>
                                            <textarea v-model="reason[key]" class="form-control my-2" rows="2" placeholder="Lý do trả lại"></textarea>
                                        </div>
                                        <button class="btn btn-sm btn-primary" @click="getRejectRequest()">Duyệt</button>
                                    </div>
                                </el-drawer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
.el-range-editor.el-input__wrapper {
    padding: 13px 10px !important;
}

</style>
<script>
import moment from "moment";
import { requestExcelImport } from "@/apis/uploadfile"
import { request, requestReject, getLink, updateStatusSingle, requestFind, requestApproveMultiple } from "../../apis/request"
import paginationVue from "../pagination.vue"
import ComponentAll from './../../components/theme/component_all.vue';
import { ElMessage, ElMessageBox, ElNotification } from 'element-plus';
import { InfoFilled } from '@element-plus/icons-vue'
import { categories } from "../../apis/data_information"
 
export default {
    name: "App",
    components : {
        paginationVue, ComponentAll, InfoFilled
    },
    data(){
        return {
            loadingTable : false,
            btnLoadingApproved : false,
            btnLoadingRejected : false,
            drawer: false,
            drawer_type: 1,
            filter : {
                category : 0,
                status : '',
                date : ''
            },
            reason : [],
            dataRequest : [],
            categories : [],
            dataCount : '',
            formRecord : '',
            toRecord : '',
            file_upload : {},
            pagination: {
                'current_page': 1
            },
            pagination_payout: {
                'current_page': 1
            },
            requests : {
                id_product : [],
                id: [],
                status : 1
            },
            dataRequestApprove : [],
        }
    },
    created(){
        this.fetchData()
        this.fetchDataCategories()
    },
    computed: {
        allSelected: {
            set (selected) {
                this.dataRequest.forEach(function (user) {
                user.selected = selected;
                });
            },
            get () {
                return this.dataRequest.every(function (user) {
                return user.selected;
                });
            }
        },

    },

    methods: {
        onFileChange(event){
            this.file_upload = event.target.files[0];
        },
        uploadFile(){
            let formData = new FormData();
            formData.append('file', this.file_upload);
            requestExcelImport(formData).then(res => {
                 ElMessage({
                    type: 'success',
                    message: res.data.message,
                })
                this.fetchData()
            }).catch(e => {
                ElMessage({
                    type: 'error',
                    message: e.response.data.message,
                })
            })
        },
        dateTime(value) {
            return moment(value).format("hh:mm - DD/MM/YYYY");
        },
        selectDate(){
            this.loadingTable = true
            this.fetchData()
        },

        selectStatus(){
            this.loadingTable = true
            this.fetchData()
        },

        selectCategory(){
            this.loadingTable = true
            this.fetchData()
        },
        
        fetchData() {
            this.loadingTable = true
            request(this.pagination.current_page, this.filter).then(res => {
                this.loadingTable = false
                this.dataRequest = res.data.dataAll
                this.pagination = res.data.pagination
                this.dataCount = res.data.pagination.total
                this.formRecord = res.data.pagination.from
                this.toRecord = res.data.pagination.to
            })
        },
        fetchDataCategories(){
            categories().then(res => {
                this.categories = res.data
            })
        },
        confirmEvent(id, status){
            this.loadingTable = false
            if (status == 1){
                requestFind(id).then(res => {
                    this.dataRequestApprove = res.data
                    this.drawer = true
                }).catch(error => {
                    this.loadingTable = false
                    ElMessage({
                        type: 'error',
                        message: error.response.data.message,
                    })
                })
            }
        },
        confirmEventMulpitle(type, item){
            if (item) {
                var requests = [item]
            }else{
                var requests = this.dataRequest.filter((request) => {
                    return request.selected;
                });
            }
            if (requests.length < 1) {
                ElMessage({
                    type: 'warning',
                    message: "Vui lòng chọn các bản ghi!",
                })
            }else{
                this.drawer_type = type
                let data = {
                    objectData : requests,
                }
                requestApproveMultiple(data).then(res => {
                    this.dataRequestApprove = res.data
                    this.drawer = true
                }).catch(error => {
                    ElMessage({
                        type: 'error',
                        message: error.response.data.message,
                    })
                })
            }
            
        },
        sendApprooveRequest(){
            updateStatusSingle(this.requests, this.requests.id).then(res => {
                this.drawer = false
                this.requests.id_product = []
                this.requests.id = []
                ElNotification({
                    title: 'Thành công',
                    message: res.data.message,
                    type: 'success',
                })
                this.fetchData()
            }).catch(error => {
                ElNotification({
                    title: 'Thất bại',
                    message: error.response.data.message,
                    type: 'error',
                })
            })
        },
        getRejectRequest () {
            let data = {
                data : this.dataRequestApprove,
                reason : this.reason
            }
            requestReject(data).then(res => {
                ElMessage({
                    message: res.data.message,
                    type: 'success',
                })
                this.fetchData()
                this.drawer = false
            }).catch(error => {
                ElMessage({
                    type: 'error',
                    message: error.response.data.message,
                })
            })
        },
        exportExcel(){
            ElMessageBox.confirm(
                'Xác nhậnn tải xuống',
                {
                confirmButtonText: 'Tải xuống',
                cancelButtonText: 'Ðóng',
                type: 'Success',
                }
            ).then(() => {
                let data = {
                    data : this.filter
                }
                getLink(data).then(res => {
                    window.location.href = res.data.url
                })
            })
            .catch(() => {
                
            })    
        },
    },
}
</script>
<style>
    .pagination {
        margin: 0 !important;
    }
    .el-popconfirm__action{
        display: flex !important;
    }
</style>
