<template>
    <div>
        <ComponentAll />
        <div class="content-body">
			<div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-sm-6" v-for="item in datas" :key="item.id">
                        <ProductSingle :data="item" />
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div style="position: relative;top: 10px;">Hiển thị {{formRecord}} - {{toRecord}} của {{dataCount}} bản ghi</div>
                    <div>
                        <paginationVue :pagination="pagination" :offset="5" @paginate="fetchData()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import paginationVue from "../pagination.vue"
import ComponentAll from './../../components/theme/component_all.vue';
import ProductSingle from './product_single.vue'
import { categories } from "@/apis/category"
export default {
    name: "App",
    components : {
        ComponentAll, ProductSingle, paginationVue
    },
    data(){
        return {
            datas : [],
            dataCount : '',
            formRecord : '',
            toRecord : '',
            pagination: {
                'current_page': 1
            },
            pagination_payout: {
                'current_page': 1
            },
        }
    },
    created(){
        this.fetchData()
    },
    methods : {
        fetchData() {
            categories(this.pagination.current_page).then(res => {
                this.datas = res.data.dataAll
                this.pagination = res.data.pagination
                this.dataCount = res.data.pagination.total
                this.formRecord = res.data.pagination.from
                this.toRecord = res.data.pagination.to
            })
        },
    }
}
</script>
