<template>
    <div class="card">
        <div class="card-body">
            <div class="new-arrival-product">
                <div class="new-arrivals-img-contnent">
                    <img class="img-fluid" :src="data.domain+data.image" alt="" style="height : 20rem; object-fit: cover;">
                </div>
                <div class="new-arrival-content text-left mt-5">
                    <div class="d-flex justify-content-between">
                        <div style="width: 70%;">
                        <h3 class="fw-bold">
                            <el-popover v-if="data.name.length > 20"
                                placement="left-end"
                                :width="200"
                                trigger="hover"
                                :content=data.name
                            >
                                <template #reference>
                                    <a>{{data.name.substring(0,20)+"..."}}</a>
                                </template>
                            </el-popover>
                            <a v-else>{{data.name}}</a>
                        </h3>
                        </div>
                        <div>
                            <i class="fas fa-minus" style="cursor: pointer;" v-if="number > 1" @click="number--"></i>
                            <i class="fas fa-minus text-danger" style="cursor: pointer;" v-else></i>
                            <span class="mx-3">{{number}}</span>
                            <i class="fas fa-plus" style="cursor: pointer;" @click="number++"></i>
                        </div>
                    </div>
                    <div class="my-3">
                        <el-date-picker
                            class="w-100"
                            v-model="date"
                            type="daterange"
                            start-placeholder="Ngày mượn"
                            end-placeholder="Ngày trả"
                            :default-value="[new Date(2022, 9, 1), new Date(2022, 10, 1)]"
                        />
                    </div>
                    <div>
                        <textarea v-model="reason" class="form-control my-2" rows="5" placeholder="Lý do mượn"></textarea>
                    </div>
                    <button class="btn btn-sm btn-primary w-100 mt-3" @click="sendRequest(data.id)" :disabled="btnLoading">
                        <span v-if="btnLoading"><i class="fas fa-spinner fa-spin"></i></span>
                        <span v-else>Xác nhận mượn</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { requestSend } from '@/apis/request'
    import { ElMessage } from 'element-plus'

    export default {
        props : ['data'],
        data(){
            return {
                number : 1,
                reason : '',
                date : '',
                btnLoading : false,
                user : JSON.parse(localStorage.getItem('user_login')),
            }
        },
        methods : {
            sendRequest(id) {
                this.btnLoading = true
                let data = {
                    user_id : this.user.id,
                    category_id : id,
                    quantity : this.number,
                    date : this.date,
                    reason : this.reason,

                }
                requestSend(data).then(res => {
                    this.btnLoading = false
                        ElMessage({
                            type: 'success',
                            message: res.data.message,
                        })
                }).catch(e => {
                    this.btnLoading = false
                    ElMessage({
                        type: 'error',
                        message: e.response.data.message,
                    })
                })

            }
        }
    }
</script>
<style>
    .el-range-editor.el-input__wrapper {
        max-width: 100%;
    }
</style>