<template>
    <div>
        <ComponentAll />
        <div class="content-body">
            <div class="container-fluid">
                <!-- Add Project -->
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="d-flex">
                                <div class="card-header">
                                    <button class="btn btn-sm btn-success me-3" data-bs-toggle="collapse" data-bs-target="#default_collapseOne_filter" aria-expanded="false">Bộ lọc <i class="fas fa-filter"></i></button>
                                    <button class="btn btn-sm btn-primary me-3" @click="acceptReturnProduct(2, 3)">Duyệt nhiều yêu cầu</button>
                                    <button class="btn btn-sm btn-danger me-3" @click="acceptReturnProduct(2, 4)">Từ chối các yêu cầu</button>
                                </div>
                            </div>

                            <div class="collapse" id="default_collapseOne_filter" data-bs-parent="#accordion-one-filter" style="margin-top: 30px; margin-left: 30px;">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="">Trạng thái</label>
                                            <select name="" id="" class="form-control" @change="selectStatus()" v-model="filter.status">
                                                <option value="">Tất cả</option>
                                                <option value="0">Chờ duyệt</option>
                                                <option value="1">Đã duyệt</option>
                                                <option value="2">Từ chối</option>
                                                <option value="3">Đã trả</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="">Danh mục</label>
                                            <select class="form-control wide mb-3" tabindex="null" v-model="filter.category" @change="selectCategory()">
                                                <option value="0">Tất cả</option>
                                                <option v-for="item in categories" :key="item.id" :value="item.id" :label="item.name"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card-body">
                                <table class="table table-responsive-md ck-table">
                                    <thead>
                                        <tr>
                                            <th><input class="form-check-input" type="checkbox" v-model="allSelected"/></th>
                                            <th><strong>Thành viên</strong></th>
                                            <th><strong>Tên danh mục</strong></th>
                                            <th><strong>Lý do</strong></th>
                                            <th><strong>Ngày mượn</strong></th>
                                            <th><strong>Ngày trả</strong></th>
                                            <th><strong>Trạng thái trả</strong></th>
                                            <th><strong>Lý do trả</strong></th>
                                            <th><strong>Hành động</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="dataRequest.length < 1">
                                            <td colspan="9" class="text-center mx-3">Không có bản ghi!</td>
                                        </tr>
                                        <tr v-for="item in dataRequest" :key="item.id" v-else>
                                            <td v-if="item.status == 2">
                                                <input class="form-check-input" type="checkbox" v-model="item.selected" />
                                            </td>
                                            <td v-else></td>
                                            <td class="fw-bold">
                                                <span>{{item.user.name}}</span><br>
                                                <span style="font-size: 13px">{{item.user.email}}</span>
                                            </td>
                                            <td>{{item.request.category.name}}</td>
                                            <td>{{item.request.reason}}</td>
                                            <td>{{item.request.date_start}}</td>
                                            <td>{{item.request.date_end}}</td>
                                            <td>
                                                <span :class="convertClassStatus(item.status)">{{convertStatus(item.status)}}</span>
                                            </td>
                                            <td>
                                                {{item.reason}}
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp me-1" v-if="item.status == 2" @click="acceptReturnProduct(1, 3, item)">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp me-1" v-if="item.status == 2" @click="acceptReturnProduct(1, 4, item)">
                                                    <i class="fas fa-undo-alt"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-dark shadow btn-xs sharp me-1" v-if="item.request.products.length > 0" data-bs-toggle="modal" :data-bs-target="'#previewRequest'+item.id">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <div class="modal fade" :id="'previewRequest'+item.id" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Xem nhanh</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-3" v-for="(product, key) in item.request.products" :key="key">
                                                                    <div class="row" v-if="product.request_id">
                                                                        <div class="col-4">
                                                                            <img :src="product.product_images[0].domain + product.product_images[0].image" alt="" style="width: 200px;object-fit: cover;">
                                                                        </div>
                                                                        <div class="col-8">
                                                                            <h3>{{product.name}}</h3>
                                                                            <div>Mã sản phẩm : <span class="fw-bold text-danger">{{product.code_producer}}</span></div>
                                                                            <div>Mã TFO : <span class="fw-bold text-danger">{{product.code_tfo}}</span></div>
                                                                            <div>Ngày tạo request : {{dateTime(item.request.created_at)}}</div>
                                                                            <div>Thời gian phải trả : {{dateTime(item.request.date_end)}}</div>
                                                                            <div>Lí do mượn : {{item.request.reason}}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Đóng</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between" v-if="dataRequest.length > 1">
                                    <div style="position: relative; top: 10px;">Hiển thị {{formRecord}} - {{toRecord}} của {{dataCount}} bản ghi</div>
                                    <div>
                                        <paginationVue :pagination="pagination" :offset="5" @paginate="fetchData()" />
                                    </div>
                                </div>
                                <el-drawer v-model="drawer" title="I am the title" :with-header="false">
                                    <h2>Return request</h2>
                                    <div class="mt-5 px-5">
                                        <div class="mb-4" v-for="(item, key) in dataRequestReturnReject" :key="key">
                                            <h4>{{item.user.name}} - {{item.request.quantity}} {{item.request.category.name}}</h4>
                                            <textarea v-model="reason[key]" class="form-control my-2" rows="2" placeholder="Lý do trả lại"></textarea>
                                        </div>
                                        <button class="btn btn-sm btn-primary" @click="returnRequest()">Gửi</button>
                                    </div>
                                </el-drawer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import moment from "moment";
import {requestReturnGetAll, returnProduct, requestReturnDataReject} from "../../apis/request"
import { categories } from "../../apis/data_information"
import paginationVue from "../pagination.vue"
import ComponentAll from './../../components/theme/component_all.vue';
import { ElMessage, ElMessageBox } from 'element-plus'
export default {
    name: "App",
    components : {
        paginationVue, ComponentAll
    },
    data(){
        return {
            dataRequest : [],
            dataRequestReturnReject : [],
            reason : [],
            categories : [],
            filter : {
                category : 0,
                status : '',
            },
            drawer : false,
            dataCount : '',
            formRecord : '',
            toRecord : '',
            pagination: {
                'current_page': 1
            },
            pagination_payout: {
                'current_page': 1
            },
        }
    },
    created(){
        this.fetchData()
        this.fetchDataCategories()
    },
    computed: {
        allSelected: {
            set (selected) {
                this.dataRequest.forEach(function (user) {
                user.selected = selected;
                });
            },
            get () {
                return this.dataRequest.every(function (user) {
                return user.selected;
                });
            }
        }
    },

    methods: {
        dateTime(value) {
            return moment(value).format("hh:mm - DD/MM/YYYY");
        },
        selectStatus(){
            this.loadingTable = true
            this.fetchData()
        },
        selectCategory(){
            this.loadingTable = true
            this.fetchData()
        },
        fetchDataCategories(){
            categories().then(res => {
                this.categories = res.data
            })
        },
        fetchData() {
            requestReturnGetAll(this.pagination.current_page, "").then(res => {
                this.dataRequest = res.data.dataAll.data
                this.pagination = res.data.pagination
                this.dataCount = res.data.pagination.total
                this.formRecord = res.data.pagination.from
                this.toRecord = res.data.pagination.to
            })
        }, 
        convertStatus(status){
            if(status == 1){
                return "Chưa trả"
            }
            if(status == 2){
                return "Chờ duyệt"
            }
            if(status == 3){
                return "Đã trả"
            }
            if(status == 4){
                return "Bị trả lại"
            }
        },
        convertClassStatus(status){
            if(status == 1){
                return "badge badge-rounded badge-dark"
            }
            if(status == 2){
                return "badge badge-rounded badge-warning"
            }
            if(status == 3){
                return "badge badge-rounded badge-success"
            }
            if(status == 4){
                return "badge badge-rounded badge-danger"
            }
        },
        acceptReturnProduct (type, status, item) {
            if (type == 1) {
                if (status == 3) {
                    let data = {
                        objectData : [item],
                        user_id : this.user_id,
                        status : status,
                        reason: this.reason
                    }
                    ElMessageBox.confirm(
                        'Duyệt request này?',
                        'Lưu ý',
                        {
                        confirmButtonText: 'Vâng',
                        cancelButtonText: 'Đóng',
                        type: 'warning',
                        }
                    ).then(() => {
                        returnProduct(data).then(res => {
                            ElMessage({
                                type: 'success',
                                message: res.data.message,
                            })
                            this.fetchData()
                        }).catch(e => {
                            ElMessage({
                                type: 'error',
                                message: e.response.data.message,
                            })
                        })
                    })
                }else{
                    let data = {
                        objectData : [item]
                    }
                    requestReturnDataReject(data).then(res => {
                        this.dataRequestReturnReject = res.data
                        this.drawer = true
                    })
                }
            }else{
                if (status == 3) {
                    let requests = this.dataRequest.filter((request) => {
                        return request.selected;
                    });
                    if (requests.length < 1) {
                        ElMessage({
                            type: 'warning',
                            message: "Vui lòng chọn các bản ghi!",
                        })
                    }else{
                        let data = {
                            objectData : requests,
                            user_id : this.user_id,
                            status : status,
                            reason: this.reason
                        }
                        ElMessageBox.confirm(
                            'Duyệt các request này?',
                            'Lưu ý',
                            {
                            confirmButtonText: 'Vâng',
                            cancelButtonText: 'Đóng',
                            type: 'warning',
                            }
                        ).then(() => {
                            returnProduct(data).then(res => {
                                ElMessage({
                                    type: 'success',
                                    message: res.data.message,
                                })
                                this.fetchData()
                            }).catch(e => {
                                ElMessage({
                                    type: 'error',
                                    message: e.response.data.message,
                                })
                            })
                        })
                    }
                }else{
                    let requests = this.dataRequest.filter((request) => {
                        return request.selected;
                    });
                    if (requests.length < 1) {
                        ElMessage({
                            type: 'warning',
                            message: "Vui lòng chọn các bản ghi!",
                        })
                    }else{
                        let data = {
                            objectData : requests
                        }
                        requestReturnDataReject(data).then(res => {
                            this.dataRequestReturnReject = res.data
                            this.drawer = true
                        })
                    }
                }
            }
        },
        returnRequest(){
            let data = {
                objectData : this.dataRequestReturnReject,
                user_id : this.user_id,
                status : 4,
                reason: this.reason
            }
            returnProduct(data).then(res => {
                ElMessage({
                    type: 'success',
                    message: res.data.message,
                })
                this.fetchData()
            }).catch(e => {
                ElMessage({
                    type: 'error',
                    message: e.response.data.message,
                })
            })
        }

    },
}
</script>
<style>
    .pagination {
        margin: 0 !important;
    }
</style>
