<template>
    <ul class="pagination pagination-circle">
        <li v-bind:class="{'disabled': pagination.current_page <= 1}" class="page-item page-indicator">
            <a href="javascript:void(0)" @click.prevent="changePage(1)" class="page-link">Pre</a>
        </li>
        <li v-bind:class="{'disabled': pagination.current_page <= 1}" class="page-item">
            <a href="javascript:void(0)" @click.prevent="changePage(pagination.current_page - 1)" class="page-link">«</a>
        </li>

        <li v-for="page in pages" :key="page" :class="isCurrentPage(page) ? 'active' : ''" class="page-item">
            <a href="javascript:void(0)" @click.prevent="changePage(page)" class="page-link">{{ page }}</a>
        </li>

        <li v-bind:class="{'disabled': pagination.current_page >= pagination.last_page}" class="page-item">
            <a href="javascript:void(0)" @click.prevent="changePage(pagination.current_page + 1)" class="page-link">»</a>
        </li>
        <li v-bind:class="{'disabled': pagination.current_page >= pagination.last_page}" class="page-item page-indicator">
            <a href="javascript:void(0)" @click.prevent="changePage(pagination.last_page)" class="page-link">Next</a>
        </li>
    </ul>
</template>

<style>
.pagination {
    margin-top: 40px;
}
</style>

<script>
export default {
    props: ['pagination', 'offset'],
    methods: {
        isCurrentPage(page) {
            return this.pagination.current_page === page;
        },
        changePage(page) {
            if (page > this.pagination.last_page) {
                page = this.pagination.last_page;
            }
            this.pagination.current_page = page;
            this.$emit('paginate');
        }
    },
    computed: {
        pages() {
            let pages = [];
            let from = this.pagination.current_page - Math.floor(this.offset / 2);
            if (from < 1) {
                from = 1;
            }
            let to = from + this.offset - 1;
            if (to > this.pagination.last_page) {
                to = this.pagination.last_page;
            }
            while (from <= to) {
                pages.push(from);
                from++;
            }
            return pages;
        }
    }
}
</script>
