<template>
    <div>
        <NavHeader />
        <ChatBox />
        <Header @logout="logout"/>
        <NavScroll />
    </div>
</template>
<script>
	import NavHeader from './nav_header.vue';
	import ChatBox from './chat_box.vue';
	import Header from './header.vue';
	import NavScroll from './nav_scroll.vue';
    export default {
        name: "App",
		components : {
			NavHeader, ChatBox, Header, NavScroll
		},
        methods : {
            logout(){
                localStorage.removeItem('user_token')
                localStorage.removeItem('user_login')
                this.$router.go(0)
            }
        }
    }
</script>
