<template>
    <div class="deznav">
        <div class="deznav-scroll">
            <ul class="metismenu" id="menu" v-if="role == 2">
                <li>
                    <a class="ai-icon" href="/requests/products" :class="$route.name == 'RequestProductList' ? 'mm-active' : ''">
                        <i class="fad fa-hand-holding-box"></i>
                        <span class="nav-text">Mượn thiết bị</span>
                    </a>
                </li>
                <li>
                    <a class="ai-icon" href="/requests" aria-expanded="false">
                        <i class="flaticon-contract"></i>
                        <span class="nav-text">Yêu cầu thiết bị</span>
                    </a>
                </li>
                <li>
                    <a class="ai-icon" href="/requests/return-product-user" aria-expanded="false">
                        <i class="fad fa-people-carry"></i>
                        <span class="nav-text">Trả thiết bị</span>
                    </a>
                </li>
            </ul>
            <ul class="metismenu" id="menu" v-else>
                <li>
                    <a class="ai-icon" href="/" :class="$route.name == 'Home' ? 'mm-active' : ''" aria-expanded="false">
                        <i class="flaticon-layout"></i>
                        <span class="nav-text">Bảng điều khiển</span>
                    </a>
                </li>

                <li>
                    <a class="ai-icon" href="/users" aria-expanded="false">
                        <i class="fad fa-users"></i>
                        <span class="nav-text">Tài khoản</span>
                    </a>
                </li>
                <li>
                    <a class="ai-icon" href="/departments" aria-expanded="false">
                        <i class="fad fa-door-open"></i>
                        <span class="nav-text">Phòng ban</span>
                    </a>
                </li>

                <li>
                    <a class="ai-icon" href="/categories" aria-expanded="false">
                        <i class="flaticon-381-list"></i>
                        <span class="nav-text">Danh mục</span>
                    </a>
                </li>

                <li>
                    <a class="ai-icon" href="/products" aria-expanded="false">
                        <i class="far fa-desktop"></i>
                        <span class="nav-text">thiết bị</span>
                    </a>
                </li>

                <li>
                    <a class="ai-icon" href="/requests/products" :class="$route.name == 'RequestProductList' ? 'mm-active' : ''">
                        <i class="fad fa-hand-holding-box"></i>
                        <span class="nav-text">Mượn thiết bị</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <i class="flaticon-contract"></i>
                        <span class="nav-text">Danh sách yêu cầu</span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <a class="ai-icon" href="/requests/lists" :class="$route.name == 'RequestList' ? 'mm-active' : ''">
                                <i class="flaticon-contract"></i>
                                <span class="nav-text">DS mượn</span>
                            </a>
                        </li>
                        <li>
                            <a href="/requests/return-product" :class="$route.name == 'RequestReturnProduct' ? 'mm-active' : ''">
                                <i class="flaticon-contract"></i>
                                DS trả
                            </a>
                        </li>
                        <li>
                            <a class="ai-icon" href="/requests/return-product-user" aria-expanded="false">
                                <i class="fad fa-people-carry"></i>
                                <span class="nav-text">Trả thiết bị</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="copyright text-center">
                <p><strong>Quản lý thiết bị - TFO SD</strong><br> © 2022 đã đăng ký bản quyền</p>
                <p class="fs-12">Made with <span class="heart"></span> by Intern team</p>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
				role : localStorage.getItem('role_user')
            }
        },
    }
</script>
