<template>
    <div class="nav-header">
            <router-link :to="{name : 'home'}" class="brand-logo">
                <img src="https://thefirstone.jp/wp-content/uploads/2021/09/logo.png" alt="">
            </router-link>

            <div class="nav-control">
                <div class="hamburger"><span class="line"></span><span class="line"></span><span class="line"></span></div>
            </div>
        </div>
</template>