<template>
  <div>
      <div id="preloader">
          <div class="sk-three-bounce">
              <div class="sk-child sk-bounce1"></div>
              <div class="sk-child sk-bounce2"></div>
              <div class="sk-child sk-bounce3"></div>
          </div>
      </div>
      <div id="main-wrapper">
        <router-view/>
      </div>
  </div>
</template>
<script>
export default {
    name: "App",
    created (){
        if(!localStorage.getItem('user_token')){
            this.$router.push({name : 'Login'}) 
        }
    },
}
</script>